# Build artifacts

# Binaries
*.exe
*.dll
*.so
*.dylib
bin/
operators/napkin-operator/operator

# Test coverage
*.out
cover.out

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
