# This rule is not used by the project dbhub-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the dbhub.tas.io.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: dbhub-operator
    app.kubernetes.io/managed-by: kustomize
  name: database-editor-role
rules:
- apiGroups:
  - dbhub.tas.io
  resources:
  - databases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dbhub.tas.io
  resources:
  - databases/status
  verbs:
  - get
